.btn {
    border-radius: 2px;
    border: 0;
    padding: 0.5rem 1rem;
    margin-bottom: 5px;
}

.btn-default {
    background-color: $color-grey-lighter;
    border-bottom: 2px solid $color-grey-lighter-s1;
}

.btn-primary {
    background-color: $color-purple;
    border-bottom: 2px solid $color-purple-s1;
}

.btn-success {
    background-color: $color-green-light;
    border-bottom: 2px solid $color-green-light-s1;
}

.btn-info {
    background-color: $color-blue;
    border-bottom: 2px solid $color-blue-s1;
}

.btn-danger {
    background-color: $color-red;
    border-bottom: 2px solid $color-red-s1;
}

.btn-warning {
    background-color: $color-yellow;
    border-bottom: 2px solid $color-yellow-s1;
    color: $color-white;
    &:hover {
        color: $color-white;
        background-color: $color-yellow-s1;
        border-bottom: 2px solid $color-yellow-s1;
    }
}