* {
    font-family: 'Rubik', sans-serif;
}

body {
    background-color: $color-grey;
}

.text-main {
    color: $color-main;
}

.app-container {
    padding-top: $navbar-height;
    padding-left: $sidebar-width;
    transition: all 0.3s ease;
}

.app-wrapper.collapsed {
    .app-container {
        padding-left: $sidebar-collapse-width;
    }
}

@import '../components/card/card';
@import '../components/navbar/navbar';
@import '../components/sidebar/sidebar';
@import '../components/header/header';