* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: $color-bg;
}


.container-fluid {
    padding-left: 20px;
    padding-right: 20px;
}

.app-container {
    padding-top: $navbar-height;
    padding-left: $sidebar-width;
    transition: all 0.3s ease;
}

.app-wrapper.collapsed {
    .app-container {
        padding-left: $sidebar-collapse-width;
    }
}

@import '../components/card/card';
@import '../components/navbar/navbar';
@import '../components/sidebar/sidebar';
@import '../components/header/header';
@import '../components/form/input';
@import '../components/button/button';
@import '../components/alert/alert';