.alert {
    border-radius: 2px;
}

.alert-success {
    background-color: $color-green-lightest;
    border-color: $color-green-lightest-s1;
    color: $color-green-darker;

    .alert-link {
        color: $color-green-darker;
    }
}

.alert-info {
    background-color: $color-blue-lighter;
    border-color: $color-blue-lighter-s1;
    color: $color-blue-darker;

    .alert-link, .btn-link {
        color: $color-blue-darker;
    }
}

.alert-warning {
    background-color: $color-yellow-lighter;
    border-color: $color-yellow-lighter-s1;
    color: $color-yellow-dark;

    .alert-link, .btn-link {
        color: $color-yellow-dark;
    }
}

.alert-danger {
    background-color: $color-red-lightest;
    border-color: $color-red-lightest-s1;
    color: $color-red-darker;

    .alert-link, .btn-link {
        color: $color-red-darker;
    }
}

.alert {
    p:last-child {
        margin-bottom: 0.5rem;
    }
}