<nav class="navbar navbar-expand-md fixed-top sps" data-sps-offset="0">
    <div class="container-fluid">
        <button class="btn navbar-toggler" type="button">
            <i class="fas fa-bars"></i>
        </button>
        <ul class="navbar-nav navbar-center">
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Notifications</a>
            </li>
            <li class="nav-item nav-profile dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <div class="profile-name">Charuwit</div>
                    <div class="profile-img">
                        <img src="../../images/man.png">
                    </div>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Profile</a>
                    <a class="dropdown-item" href="#">Setting</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Signout</a>
                </div>
            </li>
        </ul>
    </div>
</nav>