.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    padding: 0;
    // box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, .1);
    background-color: $color-bg-sidebar;
    width: $sidebar-width;
    transition: all 0.3s ease;
    overflow-x: hidden;
    overflow-y: auto;

    .sidebar-header {
        height: $navbar-height;
        background-color: $color-bg-sidebar-logo;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid $color-bg-sidebar;
        box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, .1);

        .sidebar-brand {
            color: $color-white;

            &:hover {
                text-decoration: none;
            }

            img {
                width: 100%;
                height: auto;
                display: block;
                max-width: 150px;
            }
        }
    }
    .sidebar-profile {
        background-color: rgba(0,0,0,.3);
        color: $color-white;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 15px;
        overflow: hidden;
        transition: 0.3s all ease;
        height: 200px;

        &::after {
            display: none;
        }

        &:hover, &:active, &:focus {
            color: $color-highlight;
        }

        .profile-img {
            margin-bottom: 10px;
            img {
                width: 96px;
                height: 96px;
                border-radius: 50%;
                display: block;
            }
        }

        .profile-name {
            font-size: 0.9rem;
        }

        .profile-name {
            font-size: 0.9rem;
        }
    }
    .sidebar-heading {
        font-size: .75rem;
        text-transform: uppercase;
        padding: 0px 20px;
    }
    .sidebar-action {
        padding: 10px 15px;
        margin-top: 10px;

        .btn {
            height: 50px;
        }
    }
    .sidebar-body {
        padding: 0;
        width: $sidebar-width;

        .nav {
            & > .nav-item {
                & > .nav-link {
                    color: rgba($color-white, 0.7);
                    font-weight: 400;
                    display: flex;
                    align-items: center;
                    padding: 0;
                    position: relative;
                    
                    &::after {
                        content: '';
                        z-index: 100;
                        position: absolute;
                        left: 0;
                        height: 100%;
                        width: 0;
                        background-color: $color-highlight;
                        transition: all 0.3s ease;
                    }

                    .icon {
                        width: $sidebar-collapse-width;
                        height: $sidebar-collapse-width / 1.4;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 1.3rem;
                        z-index: 102;
                        position: relative;
                    }

                    span {
                        position: relative;
                        z-index: 102;
                    }

                    &.active {
                        color: $color-highlight;
                        background-color: $color-bg;
                        &::after {
                            width: 4px;
                        }
                    }

                    &:hover {
                        &::after {
                            width: 100%;
                        }
                        span, .icon {
                            color: $color-highlight-contrast;
                        }
                    }
                }
            }
        }

        .nav-link {
            .arrow {
                position: absolute;
                right: 0;
                top: 0;
                height: $sidebar-collapse-width / 1.4;
                padding: 0 1rem;
                display: flex;
                align-items: center;
                transform: rotate(180deg);
                transition: all 0.3s ease;
                z-index: 150;
            }

            &.collapsed {
                .arrow {
                    transform: rotate(0deg);
                }
            }
        }

        .nav-dropdown {
            .nav-menu {
                background-color: $color-bg-sidebar-logo;
                .nav-item {
                    .nav-link {
                        padding-left: $sidebar-collapse-width;
                        color: rgba($color-white, 0.7);
                        font-size: 0.9rem;

                        &:hover {
                            color: $color-highlight-contrast;
                        }
                        &.active {
                            color: $color-highlight;
                        }
                    }

                    &:first-child {
                        padding-top: 0.5rem;
                    }

                    &:last-child {
                        padding-bottom: 0.5rem;
                    }
                }
            }
        }
    }
    .btn-main-action {
        background-color: $color-highlight;
        box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, .2);
        border-bottom: 3px solid $color-green-light-s1;
        color: $color-highlight-contrast;
    }
    
}

.app-wrapper.collapsed {
    .sidebar {
        width: $sidebar-collapse-width;
        .sidebar-profile {
            height: 0;
            padding: 0;
        }
        .sidebar-body {
            .nav-menu {
                &.collapse {
                    display: none;
                }
            }
        }

        &:hover {
            width: $sidebar-width;

            .sidebar-body {
                .nav-menu {
                    &.collapse.show {
                        display: block;
                    }
                }
            }
        }
    }
}